<div class="flex flex-col w-full justify-center items-center">
  <div class='flex flex-col bg-blue-500 w-2/5 mt-36 text-center p-20 rounded-md shadow-2xl'>
    <h1 class='text-4xl text-white'>Parking Lot App</h1> 
    <div class='flex flex-col justify-center items-center my-8'>
      <%= link_to "Park Now", admit_path, class: "p-2 border-2 border-white text-white w-48 rounded-md mb-2 shadow-xl" %>
      <%= link_to "Exit Parking", exit_path, class: "p-2 border-2 border-white text-white w-48 rounded-md mb-2 shadow-xl" %>
      <%= link_to "Personal Reports", reports_path, class: "p-2 border-2 border-white text-white w-48 rounded-md mb-2 shadow-xl" %>
      <% if @employee.admin %>
        <%= link_to "Company Reports", reports_path, class: "p-2 border-2 border-white text-white w-48 rounded-md mb-2 shadow-xl" %>  
        <%= link_to "Create New Employee", create_new_employee_path, class: "p-2 border-2 border-white text-white w-48 rounded-md mb-2 shadow-xl" %>  
      <% end %>
      
    </div>
    <span class='flex justify-center items-center mt-1'>
      <h2 class='text-2xl text-white mr-3'>Available Slots:</h2> 
      <p class='flex justify-center items-center w-4 h-4 p-4 bg-white text-red-600 rounded-full'><%= @available_slots %></p>
    </span>
   </div>
</div>