<p class="notice"><%= notice %></p>
<p class="alert bg-red-500"><%= alert %></p>
<% @prev_url = request.referer %>
<div class="flex flex-col w-full justify-center items-center">
  <div class='flex flex-col bg-blue-500 w-2/5 mt-36 text-center p-20 rounded-md shadow-2xl'>
    <h1 class='text-4xl text-white'>Parking Lot App</h1> 
    <% if @prev_url.include? "/admit" %>
      <h1 class='text-xl text-white'>Admittance</h1> 
    <% else %>
      <h1 class='text-xl text-white'>Exit</h1> 
    <% end %>
    
    <div class='flex flex-col justify-center items-center w-100 mt-4 mb-2'>
      <div class='flex justify-between w-full'>
        <p class='w-1/2 text-white'>Plate Number:</p>
        <p class='w-1/2 text-white'><%= @customer.plate_number %></p>
      </div>
      <div class='flex justify-between w-full'>
        <p class='w-1/2 text-white'>Vehicle Type:</p>
        <p class='w-1/2 text-white'><%= @customer.vehicle_type %></p>
      </div>
      <div class='flex justify-between w-full'>
        <p class='w-1/2 text-white'>Client Type:</p>
        <p class='w-1/2 text-white'><%= @customer.client_type %></p>
      </div>
      <div class='flex justify-between w-full'>
        <p class='w-1/2 text-white'>Overnight Parking:</p>
        <p class='w-1/2 text-white'>
          <% if @customer.overnight %>
          Yes
          <% else %>
          No
          <% end %>
        </p>
      </div>
      <div class='flex justify-between w-full'>
        <p class='w-1/2 text-white'>Parking Start Time:</p>
        <p class='w-1/2 text-white'><%= @customer.admittance_time %></p>
      </div>
      <div class='flex justify-between w-full'>
        <p class='w-1/2 text-white'>Date Admitted:</p>
        <p class='w-1/2 text-white'><%= @customer.admittance_date.to_date %></p>
      </div>
      <div class='flex justify-between w-full'>
        <p class='w-1/2 text-white'>Parking Stop Time:</p>
        <p class='w-1/2 text-white'><%= @customer.exit_time %></p>
      </div>
      <div class='flex justify-between w-full'>
        <p class='w-1/2 text-white'>Date Exited:</p>
        <p class='w-1/2 text-white'><%= @customer.exit_date %></p>
      </div>      
      <div class='flex justify-between w-full'>
        <p class='w-1/2 text-white'>Elapsed Time:</p>
        <p class='w-1/2 text-white'><%= @hours %> hours <%= @minutes %> minutes <%= @seconds %> seconds</p>
      </div>   
      <div class='flex justify-between w-full'>
        <p class='w-1/2 text-white'>Balance:</p>
        <p class='w-1/2 text-white'>Php <%= @customer.balance %>.00</p>
      </div>         
    </div>
    <div class="flex justify-end items-center mt-8">
      <span>
        <% @prev_url = request.referer %>
        <% if @prev_url.include? "/admit" %>
          <%= link_to "Print", dashboard_url, class: "p-2 border-2 border-white text-white w-48 rounded-md shadow-xl" %>
        <% else %>
          <%= link_to "Confirm Payment", confirm_payment_url, class: "p-2 border-2 border-white text-white w-48 rounded-md shadow-xl" %>  
        <% end %>
        <%= link_to "Cancel", dashboard_url, class: "p-2 border-2 border-white text-white w-48 rounded-md shadow-xl" %>
      </span>
    </div>    
   </div>
</div>