<% @prev_url = request.referer %>
<div class="flex flex-col w-full justify-center items-center">
  <div class='flex flex-col bg-blue-500 w-2/5 mt-20 text-center p-20 rounded-md shadow-2xl'>
    <h1 class='text-4xl text-white'>Parking Lot App</h1> 
      <h1 class='text-xl text-white'>Archived Customer</h1> 
    
    <div class='flex flex-col justify-center items-center w-100 mt-4 mb-2'>
      <div class='flex justify-between w-full'>
        <p class='w-1/2 text-white'>Plate Number:</p>
        <p class='w-1/2 text-white'><%= @customer.plate_number %></p>
      </div>
      <div class='flex justify-between w-full'>
        <p class='w-1/2 text-white'>Vehicle Type:</p>
        <p class='w-1/2 text-white'><%= @customer.vehicle_type %></p>
      </div>
      <div class='flex justify-between w-full'>
        <p class='w-1/2 text-white'>Client Type:</p>
        <p class='w-1/2 text-white'><%= @customer.client_type %></p>
      </div>
      <div class='flex justify-between w-full'>
        <p class='w-1/2 text-white'>Overnight Parking:</p>
        <p class='w-1/2 text-white'><%= "Yes" if @customer.overnight? %></p>
      </div>
      <div class='flex justify-between w-full pt-4'>
        <p class='w-1/2 text-white'>Time Admitted:</p>
        <p class='w-1/2 text-white'><%= @customer.admittance_time %></p>
      </div>
      <div class='flex justify-between w-full'>
        <p class='w-1/2 text-white'>Date Admitted:</p>
        <p class='w-1/2 text-white'><%= @customer.admittance_date %></p>
      </div>
      <div class='flex justify-between w-full pt-4'>
        <p class='w-1/2 text-white'>Time Exited:</p>
        <p class='w-1/2 text-white'><%= @customer.exit_time %></p>
      </div>
      <div class='flex justify-between w-full'>
        <p class='w-1/2 text-white'>Date Exited:</p>
        <p class='w-1/2 text-white'><%= @customer.exit_date %></p>
      </div>      
      <div class='flex justify-between w-full my-4'>
        <p class='w-1/2 text-white'>Amount Paid:</p>
        <p class='w-1/2 text-white'>Php <%= @customer.amount_paid %>.00</p>
      </div>   
      <div class='flex justify-between w-full mt-4'>
        <p class='w-1/2 text-white'>Admitting Employee Email:</p>
        <p class='w-1/2 text-white'><%= @customer.employee_email %></p>
      </div>   
      <div class='flex justify-between w-full'>
        <p class='w-1/2 text-white'>Admitting Employee ID:</p>
        <p class='w-1/2 text-white'><%= @customer.employee_id %></p>
      </div>           
    </div>
    <div class="flex justify-end items-center mt-8">
      <% if @prev_url.include? "/daily_reports" %>
        <div>
          <%= link_to "Back to Daily Reports", daily_reports_url, class: "p-2 border-2 border-white text-white rounded-md shadow-xl" %>  
        </div> 
      <% elsif @prev_url.include? "/monthly_reports" %>
        <div>
          <%= link_to "Back to Monthly Reports", monthly_reports_url, class: "p-2 border-2 border-white text-white rounded-md shadow-xl" %>  
        </div>       
      <% else %>   
        <div class='flex justify-end items-center mt-8'>
          <%= link_to "Back to Company Reports", company_reports_url, class: "p-2 border-2 border-white text-white w-48 rounded-md shadow-xl" %>
        </div>      
      <% end %>

    </div>    
   </div>
</div>