<!DOCTYPE html>
<html>
  <head>
    <title>Parkinglot</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class='flex flex-col min-h-screen '>
    <% if employee_signed_in? %> 
      <%= render "partials/header" %>
    <% end %>
    <main class="flex-grow">
      <div class='text-center text-black'>
        <p class="notice"><%= notice %></p>
      </div>
      <%= yield %>
    </main>
    <% if employee_signed_in? %> 
      <%= render "partials/footer" %>
    <% end %>    
  </body>
</html>
